// Typography
$font-family-sans-serif: 'Nunito', sans-serif;

// Colors
$blue: #3490dc;

html, body{
    margin: 0px !important;
    padding: 0px !important;
}

.videoWrapper{
    width: 100%;
    border-radius: 5px;
    border: 3px solid black;
    background-color: black;
}

video:hover{
    cursor: pointer;
}

video{
    border-radius: 5px;
    width: 100%;
}

.fa.fa-play-circle, .fa.fa-pause-circle{
    font-size: 2em;
}

.fa.fa-expand{
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.fa.fa-expand:hover{
    cursor: pointer !important;
    color: DodgerBlue !important;
    transform: rotate(-20deg);
}

#controls{
    border-top: 1px solid DodgerBlue;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 5px;
    justify-content: space-evenly;
}

.btnV {
    background-color: DodgerBlue !important;
    border: none !important;
    color: white !important;
    padding: 6px 26px !important;
    padding-top: 10px !important;
    font-size: 16px;
    cursor: pointer !important;
    border-radius: 5px;
}
  
.btnV:hover {
    background-color: RoyalBlue !important;
}

.time{
    font-size: 1.8em;
    vertical-align: middle;
    color: whitesmoke;
}

#customRange{
    margin-top: 7%;
}

.grid-container1 {
    /*display: grid;*/
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 30px !important;
    align-content: space-evenly;
    text-align: center;
}

.grid-container1-div {
    padding: 10px;
    width: 306px;
    margin: 10px 1px 10px 1px;
    transition: transform 1s, filter 1s;
}

.grid-container1-div:hover {
    transform:scale(1.01);
    filter:drop-shadow(8px 8px 10px gray);
    z-index: 999;
}

.videoName{
    font-size: 1.4em;
    margin-bottom: 10px;
    display: block;
    text-decoration: none !important;
    font-family: "Georgia";
}

.channell, .videoTitle{
    font-family: "Palatino Linotype";
}

a, a:link, a:visited, a:hover, a:active, a:focus{
    text-decoration: none !important;
    color: inherit !important;
}

.videoCardBody{
    padding: 0.5rem !important;
}

.progress, .progress-bar{
    height: 15px !important;
}

#karusel{
    margin-bottom: 20px;
}

.carousel-caption{
    color: black !important;
    font-weight: bold;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    font-family: "Palatino Linotype" !important;
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.cent{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.novideos{
    width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow:20px 20px 10px grey;
    cursor: pointer;
}

.notice{
    background-color: whitesmoke;
    font-size: 2em;
    opacity: 0.5;
    padding: 10px;
    font-family: "Palatino Linotype";
    filter:blur(1px) drop-shadow(8px 8px 10px gray);
    cursor: pointer;
    transition: transform 2s;
    transition: position 2s;
    transition: left 2s;
}

@media only screen and (min-width: 769px) {

    .notice:hover{
        position: fixed;
        left: 40%;
        transform:scale(2);
    }

}

.dashImg {
    border-radius: 5px;
    margin-right: 5px;
}

.progress-bar-num{
    position: absolute;
    left: 50%;
}

.muted{
    font-size: 2em;
    color: white;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.desc{
   margin: 0px 0px 10px 10px;
}

.descReadMore{
    display: inline-block;
    height: 0px;
}

.linkReadMore{
    color: #ccccff;
}

.nextPrev{
    float:right;
}

.prev, .next, .goback{
    font-size: 1.5em !important;
    color: black;
    -webkit-transition: color 1s !important;
    transition: color 1s !important;
    font-family: "Palatino Linotype" !important;
}

.prev:hover{
    color: #c3e6cb !important; 
}

.next:hover{
    color: #b8daff !important;
}

.goback:hover{
    color: #ffeeba !important;
}

.showMore{
    margin-left: 40px;
    font-family: "Palatino Linotype" !important;
    border: none !important;
    margin-bottom: 70px !important;
}

.showMore:hover{
    background-color: transparent !important;
}

#list > div > a{
    color: #f5c6cb !important;
    transition: color 1.5s;
    font-weight: bolder;
}

#list > div > a:hover{
    color: #c3e6cb !important;
}

#list > div > a:focus {
  box-shadow: inset 0 0px 0 #ddd;
}

@media only screen and (max-width: 768px) {

    .carousel-caption {
        padding-bottom: 0px !important;
        bottom: 0px !important;
    }

}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#show{
    margin-bottom: 70px;
}

.subWrapper{
    position: relative;
}

.subTitles{
    z-index: 999;
    font-size: 1em;
    color: whitesmoke; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    -webkit-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
    background-color: black;
    opacity: 0.5;
    width:auto;
    white-space: pre-wrap;
    text-align: center;
    max-width: 100%;
}

#subs{
    font-size: 8px;
}

#subSelect{
    margin-top: 3%;
}

.full_modal-dialog {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    padding: 0 !important;
}

#create > div > div > div > div{
    margin-bottom: 15%;
}

.active{
    background-color: whitesmoke;
}

#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item:not(.active) {
    -webkit-transition: border-bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: border-bottom 1s;
}

#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item:not(.active):hover {
    border-bottom: 1px solid whitesmoke;
}

#karusel > div > div.carousel-item.active{
    background-color: white;
}

.drop1{
    margin-left: 15px !important;
}

#list > div > div.container.drop1 > div > button{
    background-color: whitesmoke !important;
    border-color: silver;
}

.dropinp{
    padding-left: -15px !important;
    border-bottom: 1px solid silver !important;
    background-color: whitesmoke !important;
}

.dropinp:hover{
    background-color: white !important;
}

#list > div > div.container.drop1 > div > div{
    background-color: whitesmoke !important;
}

#list > div > div.container.drop1 > div > button:focus{
    outline: none !important;
    box-shadow: none;
}